@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.flexRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none !important;
  color: black !important;
}

a:hover {
  text-decoration: none !important;
  color: black !important;
}

html {
  background: linear-gradient(#ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #c7c7c7);;
  background-color: #ffffff;
  z-index: -1;
  /* box-shadow: 5px 10px 25px 25px #b4b4b4 ; */
  background-repeat: no-repeat;
  height: 100%;
}

p {
  font-weight: 400;
  font-family: 'Space Grotesk', ;
  margin: 0px 0px 0px 0px !important;
}

.botCard p {

}

body {
  height: 100%;
}

main {
  height: 100%;
}

.navbar p {
  color: #ffffff;
  font-weight: 400;
  font-family: 'Space Grotesk', 'sans-seriff';
  font-size: 1.2rem;
  margin: 0px 0px 0px 0px !important;
}

.navbar{
  background-color: #333333;
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around !important;
  align-items: center;
  padding: 0px 0px 0px 0px !important;
  z-index: 10;
}

.navbar img {
  height: 3vw !important;
  margin: 20px 0px 20px 0px;
}

.imgMLDiv {
  width: 40%;
}

#imgML {
  cursor: pointer !important;
  width: auto;
}

.botCards {
  /* margin-top: 50px; */
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.botCard {
  transition: all ease-out 0.2s;
  min-height: 450px;
  padding: 0px 15px 10px 10px;
  /* width: 250px; */
  /* border: 2px solid #5ebb50; */
  border-radius: 3px;
  box-shadow: 5px 5px 20px 2px #b4b4b4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.botCard button {
  /* margin-bottom: 1rem !important; */
}

.botCard p {
  font-family: 'Space Grotesk', ;
  margin: 0px 0px 0px 0px !important;
  color: #000000;
}

.botCard img {
  width: 80%;
  margin: 20px 20px 20px 20px;
  /* background-repeat: no-repeat;
  background-size: contain;
  background-image: url('./imgs/giphy.gif'); */
}

.botCardImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.botCard:hover {
  box-shadow: 8px 8px 30px 0px #b4b4b4;
  /* transform: scale(1.01, 1.01); */
}

.addButtonDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 10px 10px 50px;
}

.addButton {
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
  transition: all ease-in-out 0.5s;
  border: #5ebb50 solid 2px;
  box-shadow: 0 0 0 0 #5ebb50 inset;
}

.addButtonDiv .addButton {
  margin: 20px 20px 20px 20px !important;
}

.addButton:hover {
  /* background-color: #5ebb50; */
  /* box-shadow: 5px 5px 15px 1px #b4b4b4; */
  /* transform: scale(1.03, 1.03); */
  /* color: #ffffff !important; */
  box-shadow: 35vb 0px 0px 0px #5ebb50 inset;
}

.addButton:active {
  /* box-shadow: 5px 5px 20px 2px #b4b4b4;
  transform: scale(1, 1); */
  /* transform: scale(0.9, 0.9); */
}

.addButton p {
  font-family: 'Space Grotesk', ;
  margin: 0px 0px 0px 0px;
}

.navLink {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 10px 10px;
}

.divNavInside {
  transition: all ease-in-out 0.5s;
  height: 2px;
  width: 100%;
  box-shadow: inset 0px 0px 0px 0px #5ebb50;
}

.navLink:hover ~ .divNavInside {
  box-shadow: inset 20vw 0px 0px 0px #5ebb50;
}

.desconectarButton {
  box-shadow: 0 0 0 0 #d20808 inset !important;
  border-color: #d20808 !important;
}

.desconectarButton:hover {
  /* color: #ffffff !important; */
  box-shadow: 30vb 0px 0px 0px #d20808 inset !important;
}

.deleteButton {
  background-color: #d20808;
  border-color: #d20808;
  box-shadow: none !important;
  color: #ffffff !important;
}

.deleteButton p {
  color: #ffffff !important;
}

.deleteButton:hover {
  box-shadow: none !important;
}

.mainLoad {
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.7);
  /* opacity: 0.5; */
  position: absolute;
  top: 0px;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marginButtonBotCard {
  margin: 5px 0px 5px 0px !important;
}

.dadosDiv {
  padding: 20px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  transition: all ease-in 0.3s;
}

.dadosDiv p {
  margin: 6px 0px 6px 0px !important;
}

.contaButton {
  margin: 0px 5px 0px 5px !important;
}

.negContaButton {
  border: #d20808 solid 2px !important;
}

.noDisplay {
  display: none !important;
}

.outsideBotCard, .botCardDiv {
  position: relative;
}

.outsideBotCard {
  min-height: 450px;
  margin: 30px 0px 30px 0px;
}

.botCardDiv {
  transition: all 0.5s ease-out;
  min-height: 450px;
  width: 100%;
  transform-style: preserve-3d;
}

.front {
  width: 100%;
}

.back {
  width: 100%;
  background-color: #333333;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.back p, .back input, .back label {
  color: #eeeeee;
}

.back label {
  /* background-color: #b4b4b4;
  padding: 0px 10px 0px 10px; */
  cursor: pointer;
}

.front,
.back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipped {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.outsideBotCard svg {
  position: absolute;
  /* right: -10%; */
  right: -20px;
  bottom: 15px;
  fill: #333333;
  cursor: pointer;
  transform: rotate3d(-111111, 1, -1111111, 180deg);
  transition: all 0.4s ease-out;
  z-index: 99;
}

.outsideBotCard svg:hover {
  fill: #5ebb50 !important;
}

.svgFlipped {
  /* right: 85% !important; */
  /* left: -20px; */
  transform: rotate3d(-111111, 1, 1, 180deg) !important;
  fill: #5ebb50 !important;
  z-index: 0;
}

svg.svgFlipped:hover {
  fill: #3d7934 !important;
}

.divSvg {
  min-width: 14%;
  max-width: 88%;
  width: 100%;
  transition: all 0.5s ease-out;
  position: relative;
  height: 1px;
}

.divSvgFlipped {
  width: 0%;
}

.removeMargin {
  margin: 0px 0px 0px 0px !important;
}

.lowerCase {
  font-size: 0.8rem !important;
}

.receivedFile {
  box-shadow: 30vb 0px 0px 0px #5ebb50 inset !important;
  transition: all 0.2s ease-in-out;
}

.fullSize {
  width: 100% !important;
}

.select {
  width: 100%;
}

.outsideSearchDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.insideSearchDiv {
  width: 100%;
  margin: 0px 10px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.divTASearch {
  margin: 0px 0px 0px 0px !important;
}

#magGlass, .userCardButtons svg{
  fill: #eeeeee;
  margin: 0px 6px 0px 0px ;
}

#searchButtonButton p, .userCardButtons p {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.userCard {
  padding: 20px 20px 20px 20px;
  border: #5ebb50 solid 2px;
  border-radius: 5px;
}

.userCardButtons {
  margin: 10px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userCardButtons button {
  margin: 0px 5px 0px 5px !important;
}

.ajudaMainDiv {
  height:60vh;
  /* overflow: hidden; */
}

.ajudaDiv {
  width: 70% !important;
  height: 100% !important;
  /* max-height: 100vh !important; */
  overflow-y: scroll;
  justify-content: flex-start !important;
}

.maxHeight {
  height: 100%;
}

.ajudaInsideDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0px 0px 50px 0px;
}

.ajudaDiv h4 {
  margin: 20px 0px 20px 0px !important;
}

